In [ ]:
#importing package
library(readxl)
library(tidyverse)

In [ ]:
#read the excel file
df <- read_excel("train.xlsx")

In [ ]:
#rename the columns eliminating obstacle character
names(df) <- gsub(" ", "_", names(df))
names(df) <- gsub("\\(", "_", names(df))
names(df) <- gsub("\\)", "_", names(df))
names(df) <- gsub("\\/", "_", names(df))
names(df) <- gsub("'", "_", names(df))

In [ ]:
#rows with any na value are dropped
df <-df %>% drop_na()

In [ ]:
#save as csv
write.csv(df, "train.csv", row.names = FALSE)